.container {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.svg {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.path {
    stroke: #6366f1;
    opacity: 0.8;
    transition: all 0.3s ease;
}

:global(.row:hover) .path {
    stroke: #a855f7;
    opacity: 1;
    stroke-width: 3;
}