.container {
    margin-bottom: 1rem;
    position: relative;
    z-index: 60;
}

.yearList {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
    gap: 1.5rem;
}

.yearBlock {
    font-size: 1.6rem;
    cursor: pointer;
    color: #e2e8f0;
}

.yearBlock {
    display: flex;
}

.yearChar {
    color: inherit;
    transition: color 0.1s ease-in;
}

.yearBlock:hover .yearChar {
    color: #6366f1;
}

.yearBlock.active {
    color: #6366f1;
}

.yearBlock.active .yearChar {
    color: #6366f1;
}
