.container {
    margin: 0;
}

.yearList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    padding-left: 1.5rem;
    gap: 1.5rem;
}

.yearBlock {
    color: #e2e8f0;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.2s ease;
    font-style: oblique;
}

.yearBlock:hover {
    color: #6366f1;
}

.yearBlock.active {
    color: #6366f1;
}

.yearBlock.active:hover {
    color: #a855f7;
}