.container {
    margin-bottom: 1rem;
    position: relative;
    z-index: 60;
}

.yearList {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
    gap: 1.5rem;
}

.yearBlock {
    color: #e2e8f0;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.yearBlock:hover {
    color: #6366f1;
}

.yearBlock.active {
    color: #6366f1;
}

.yearBlock.active:hover {
    color: #a855f7;
}